* {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 12px;
}

#container {
	width: 1280px;
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
}

header,section,footer,.s1_top,
.s1_bottom,.s2_top,.s4_top {
	width: 100%;
	overflow: hidden;
}

hr {
	border: none;
	height: 2px;
	width: 30px;
	margin: 0 auto;
}

ul {
	list-style: none;
	float: right;
}

a{
	text-decoration: none;
}

body {
	background-color: #282828;
}

header {
	height: 57px;
	line-height: 57px;
	color: #393a3a;
}

header .pic_books {
	width: 30px;
	height: 31px;
	margin: 13px 10px 0 59px;
	float: left;
}

header span {
	font-size: 21px;
	font-family: SimHei;
	float: left;
}

nav li,.login {
	float: right;
	overflow: hidden;
}

nav a {
	color: #767777;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	padding: 0 20px 15px;
}

.on,nav a:hover {
	color: #e74f4d;
	border-bottom: 3px solid #e74f4d;
}

nav a:visited {
	color: #393a3a;
}

.login a {
	color: #e74f4d;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	margin-right: 65px;
}

.login img {
	margin-bottom: -2px;
	margin-left: 10px;
}

.s1 {
	height: 940px;
	background: url(images/0008s_0005.png) no-repeat;
	position: relative;
}

.shade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.s1_top .shade {
	background-color: #cdcccc;
	opacity: 0.1;
}

.s1_top {
	color: #fff;
	font-family: "Microsoft YaHei";
	margin-top: 228px;
}

.s1_top h1 {
	font-size: 60px;
	margin: 0 0 29px 116px;
}

.s1_top p {
	font-size: 21px;
	margin-left: 124px;
}

.s1_top a {
	color: #fff;
	font-size: 30px;
	margin-left: 69px;
	letter-spacing: 2px;
}

.s1_top a:visited {
	color:#fff;
}

.start_try {
	background-color: #e74f4d;
	width: 331px;
	height: 65px;
	line-height: 65px;
	margin: 66px 0 0 155px;
}

.s1_bottom {
	height: 252px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
}

.s1_bottom img {
	display: block;
	width: 34px;
	margin: 45px auto;
}

.s1_bottom li {
	float: left;
	width: 320px;
	height: 53px;
	text-align: center;
}

.s1_bottom p {
	padding-bottom: 20px;
	border-right: 1px solid #767777;
	font-size: 14px;
	font-family: SimHei;
	line-height: 18px;
	color: #767777;
}

#clr_border {
	border: none;
}

.s2 {
	/*border: 1px solid blue;*/
}

.s2_top {
	height: 360px;
    text-align: center;
    background-color: #ededec;
}

.s2_top img {
	width: 92px;
	margin: 89px auto 48px;
}

.s2_top h2 {
	font-size: 53.59px;
	font-family: SimHei;
	line-height: 56.6px;
	color: #a1a1a1;
}

.s2_middle {
	height: 287px;
	background: url(images/0004s_0023.png);
	text-align: center;
	padding-top: 53px;
	position: relative;
}

.s2_middle .shade {
	background-color: #eed7d6;
	opacity: 0.1;
}

.s2_middle h3 {
	color: #fff;
	font-size: 21px;
	font-family: "Microsoft YaHei";
	line-height: 41.88px;
}

.s2_middle hr {
	background-color: #fff;
}

.s2_middle p {
	color: #fff;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	line-height: 31.27px;
	margin: 19px 0 53px;
}

#menu {
	margin-left: 128px;
	float: left;
}

#menu ul {
	float: left;
	padding: 0;
	list-style: none;
}

#menu ul .choose {
	border: 1px solid #fff;
	text-align: left;
	text-indent: 15px;
	position: relative;
	height: 36px;
	line-height: 36px;
	float: left;
	width: 234px;
	margin-right: 28px;
}

#menu ul li a {
	font-size: 12px;
	font-family: "Microsoft YaHei";
	width: 100%;
	height: 36px;
	color: #a8aaaa;
	text-decoration: none;
	text-indent: 20px;
	display: block;
	background: #fff url(images/11111_03.png) no-repeat 205px center;
}

#menu ul li ul {
	display: none;
	overflow: hidden;
}

#menu ul li:hover {
    border: 1px solid #d79895;
    border-bottom: none;
}

#menu ul li:hover ul {
	width: 234px;
	border: 1px solid #d79895;
	border-top: none;
	display: block;
	position: absolute;
	top: 36px;
	left: -1px;
}

#menu ul li ul li {
	width: 234px;
	float: none;
	height: 26px;
	line-height: 26px;
}

#menu ul li ul li a {
	text-indent: 30px;
	line-height: 26px;
	background: none;
	background-color: #e3e3e4;
}

#menu ul li ul li a:hover {
	background: #be4e48 url(images/4441_03.png) no-repeat 12px 10px;
	color: #fff;
}

.s2_middle input {
	float: left;
	width: 236px;
	height: 36px;
	background-color: #be4e48;
	color: #fff;
	border: none;
}

.clear {
	clear: both;
}

.s2_bottom {
	background-color: #f7f7f7;
	padding: 100px 108px 114px;
	overflow: hidden;
}

.s2_bottom .photos {
	float: left;
	width: 219px;
	text-align: center;
	margin-right: 38px;
	overflow: hidden;
}

.photos h4 {
	color: #323333;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	margin: 13px 0 11px;
}

.photos p {
	color: #898a8a;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	margin-bottom: 5px;
}

.photos h3 {
	margin: 0 0 5px 15px;
	letter-spacing: 28px;
	color: #575858;
	font-size: 22px;
	font-family: "Microsoft YaHei";
}

.s3 {
	/*border: 1px solid red;*/

}

.s3_top_l {
	position: relative;
	text-align: center;
    float: left;
	width: 852px;
	height: 565px;
	background: url(images/0003s_0012.png);
}

.s3_top_l > span {
	font-family: "Microsoft YaHei";
	display: block;
	color: #fff;
}

.s3_top_l .title {
	font-size: 49.47px;
	padding-top: 132px;
	height: 50px;
}

.s3_top_l .subtitle {
	font-size: 157px;
	height: 157px;
	margin: -28px 0 36px;
}

.s3_top_l .description {
	font-size: 21.91px;
	line-height: 43.15px;
	height: 43.15px;
}

.s3_top_l::after {
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 0;
	content: " ";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 25px;
	border-color: transparent #fff transparent transparent;
}

.s3_top_r {
	width: 428px;
	height: 565px;
	text-align: center; 
	float: right;
}

.s3_top_r>h3 {
	color: #323333;
	font-size: 21.91px;
	height: 21.91px;
	font-family: "Microsoft YaHei";
	line-height: 43.15px;
	margin:165px 0 30px;
}

.s3_top_r>h3>span {
	color: #e7504d;
	font-size: 21.91px;
}

.s3_top_r>p {
	width: 288px;
	margin: 0 auto;
	color: #aaaaaa;
	line-height: 30px;
	font-family: SimSun;
	text-align: left;
}

.s3_top_r>a {
	margin: 48px auto 24px;
	width: 106px;
	height: 35px;
	line-height: 35px;
	display: block;
	color: #e25c60;
	font-family: "Microsoft YaHei";
	border: 1px solid #e25c60;
}

.s3_bottom1, .s3_bottom2, .s3_bottom3 {
	width: 425px;
	height: 521px;
	float: left;
	text-align: center;
}

.s3_bottom1 {
	background-color: #e74f4d;
}

.s3_bottom1>p,.s3_bottom2>p {
	width: 168px;
	font-size: 21px;
	font-family: SimHei;
	line-height: 30.36px;
	margin: 173px auto 0;
}

.s3_bottom1>a,.s3_bottom2>a {
	display: inline-block;
	width: 168px;
	height: 44px;
	line-height: 44px;
	font-size: 21px;
	font-family: SimHei;
}

.s3_bottom1 p {
	color: #fff;
}

.s3_bottom1 hr {
	margin: 26px auto;
	background-color: #fff;
}

.s3_bottom1 a {
	color: #fff;
	border: 1px solid #fff;
}

.s3_bottom2 p {
	color: #323333;
}

.s3_bottom2 hr {
	margin: 26px auto;
	background-color: #323333;
}

.s3_bottom2 a {
	border: 1px solid #e74f4d;
	color: #e74f4d;
}

.s3_bottom3 {
	width: 430px;
	background: url(images/0002s_0010.png);
	position: relative;
}

.s3_bottom3::before {
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	left: 0px;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 15px 25px;
	border-color: transparent transparent transparent #fff;
}

.s4 {
	height: 749px;
}

.s4_top {
	width: 100%;
	overflow: hidden;
}

.s4_top h2 {
	width: 168px;
	margin: 118px auto 0;
	height: 21px;
	font-size: 21px;
	font-family: SimHei;
	color: #323333;
}

.s4_top hr {
	background-color: #e74f4d;
	margin: 12px auto 15px;
}

.s4_top p {
	color: #aaaaaa;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	text-align: center;
	width: 428px;
	line-height: 18px;
	margin: 0 auto 107px;
}

.s4_l {
	width: 289px;
	height: 283px;
	margin: 0 76px 0 183px;
	text-align: left;
	color: #9e9a98;
	float: left;
}

.s4_l h3 {
	color: #74706f;
	font-size: 14px;
	font-family: SimHei;
	margin-bottom: 20px;
}

.title_2 {
	margin-top: 36px;
}

.s4_l p {
	font-family: SimSun;
	line-height: 21px;
}

.para_1 {
	font-style: italic;
}

.s4_l a {
	color: #767777;
	line-height: 19.45px;
	display: inline-block;
	width: 100%;
	text-align: right;
	background: url(images/0001s_0000.png) no-repeat 247px center;
}

.s4_l a:visited {
	color: #9e9a98;
}

.s4_r {
	width: 655px;
	float: left;
}

.s4_r>span {
	display: block;
	width: 310px;
	height: 43px;
	line-height: 43px;
	float: left;
	margin: 0 17px 10px 0;
	background-color: #ededee;
}

.s4_r label {
	font-size: 12px;
	font-family: SimSun;
	color: #74706f;
	margin-left: 15px;
}

.s4_r input {
	color: #74706f;
	margin-left: 5px;
	border: 0px;
	width: 220px;
	height: 14px;
	line-height: 14px;
	background-color: #ededee;
	outline: medium;
}

.s4_r p {
	overflow: hidden;
	position: relative;
	float: left;
	width: 638px;
	height: 121px;
	margin-bottom: 13px;
	background-color: #ededee;
}

.s4_r p>label {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 138px;
}

.s4_r textarea {
	text-indent: 12em;
	margin: 8px 0 0 15px;
	font-size: 12px;
	color: #74706f;
	line-height: 1.5em;
	outline: medium;
	border: none;
	resize:none;
	background-color: #ededee;
}

.s4_r button {
	width: 638px;
	height: 41px;
	line-height: 41px;
	background-color: #ededee;
	color: #323333;
	font-size: 14px;
	font-family: SimHei;
	border: none;
}

.s5 {
	width: 100%;
	float: left;
	overflow: hidden;
	/*height: 358px;*/
	text-align: center;
	color: #fff;
	background-color: #32353e;
}

.s5 h3 {
	margin-top: 85px;
	font-size: 21px;
	font-family: SimHei;
}

.s5 p {
	margin-top: 10px;
	font-size: 12px;
	font-family: SimSun;
	line-height: 18px;
}

.email_sub {
	height: 41px;
   	width: 510px;
	margin-bottom: 30px;
	margin: 30px auto 37px;
}

.s5 #email {
	text-indent: 2em;
	width: 430px;
	height: 41px;
	color: #aaaaaa;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	border: none;
}

.s5 #submit {
	margin-left: -6px;
	font-size: 15px;
	font-family: "Microsoft YaHei";
	color: #fff;
	display: inline-block;
	border: none;
	background-color: #707278;
	width: 80px;
	height: 41px;
	letter-spacing: 10px;
	text-indent: 6px;
}

.s5 .pic_link {
	margin-bottom: 75px;
}

.pic_link img {
	margin-left: 28px;
}

footer {
	height: 58px;
	background-color: #2f2f38;
}

footer span {
	float: left;
	margin: 27px 0 0 101px;
	color: #fff;
}

footer a {
	float: right;
	margin: 27px 40px 0 0;
	color: #fff;
}

footer a:visited {
	color: #fff;
}













