*{
	margin: 0;
	padding: 0;
}

#header,#top,#middle,#bottom,#footer {
	width: 100%;
	overflow: hidden;
	background-color: #FFF;
	margin-bottom: 30px;
}

#container {
	width: 892px;
	height: 1386px;
	border: 1px solid pink;
	padding: 0 44px;
	margin: 0 auto;
}

#header {
	border-bottom: 2px solid #818F94;
	font-size: 12px;
	font-family: SimHei;
}

#header p {
	float: left;
	width: 110px;
	height: 61px;
	background-color: #DB3E75;
}

#header p span{
	color: #FFF;
	display: block;
	margin: 45px 0 0 5px;
}

#header time {
	color: #d45d5c;
	float: right;
	margin-top: 45px;
}

#mainbody {
	overflow: hidden;
}

#top_l {
	float: left;
	width: 641px;
	height: 301px;
	background: url(images/1104721.jpg);
}

#green,#red {
	width: 191px;
	height: 301px;
    opacity: 0.2;
}

#green {
	float: left;
	background-color: green;
}

#red {
	float: right;
	background-color: pink;
}

#top_r {
	float: right;
	width: 203px;
	height: 299px;
	border-top: 2px solid #cc8091;
}

#line_1,#line_2,#line_3,#line_4,#line_5,#line_6 {
	font-family: Microsoft YaHei;
	float: left;
}

#top_r #line_1 {
	text-decoration: underline;
	font-size: 24px;
	color: #000000;
}

#top_r #line_2 {
	font-size: 12px;
	color: #676767;
	font-family: KaiTi;
}

#top_r #line_3 {
	margin-left: -20px;
	font-size: 112px;
	color: #75b86b;
	font-style: italic;
}

#top_r #line_4 {
	font-size: 55px;
	color: #cc8091;
}

#top_r #line_5 {
	margin-top: 28px;
	font-size: 21px;
	color: #cc8091;
}

#top_r #line_6 {
	margin-top: -10px;
	font-size: 12px;
	color: gray;
}

.three {
	overflow: hidden;
	width: 225px;
	float: left;
	margin-right: 20px;
}

.three h3 {
	text-decoration: underline;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: bold;
}

.three p {
	line-height: 16px;
	font-size: 12px;
	font-family: SimSun;
	margin: 10px 0;
}

#what {
	color: #418c59;
}

#when {
	color: #d2994f;
}

#how {
	color: #cc7680;
}

.three #per {
	color: #231815;
	line-height: 16px;
	font-family: Microsoft YaHei;
	opacity: 0.7;
}

.three #per span {
	color: #cd4a48;
	font-style: italic;
}

article,#bottom_r {
	float: left;
}

article {
	width: 415px;
	margin-right: 18px;
}

article header {
	margin-bottom: 20px;
	font-family: SimHei;
	font-weight: bold;
	border-bottom: 2px solid #11456b;
}

article h1 {
	color: #11456b;
	font-size: 42px;
}

article h1 span {
	color: #f5e327;
	font-style: italic;
	font-size: 72px;
}

article h2 {
	color: #11456b;
	font-size: 33px;
	margin: 10px 0;
}

article p {
	color: #767777;
	font-size: 12px;
	font-family: Simsun;
	line-height: 16px;
}

article main span {
	width: 70px;
	height: 45px;
	color: #f5e327;
	font-size: 70px;
	font-family: Microsoft YaHei;
	margin: 22px 10px 0 0;
	float: left;
}

article #inpic {
	width: 160px;
	height: 270px;
	float: right;
	margin: 10px 0 10px 10px;
}

#bottom_r figure {
	background: url(images/701705.jpg) no-repeat;
	background-size: cover;
	position: relative;
	width: 458px;
	height: 275px;
}

#bottom_r figcaption {
	background-color: black;
	opacity: 0.7;
	width: 458px;
	height: 61px;
	position:absolute;
	bottom: 0;
	left: 0;
}

#bottom_r figcaption h2 {
	height: 44px;
	line-height: 44px;
	font-size: 26px;
	font-family: Microsoft YaHei;
	color: #FFF;
	padding-left: 15px;
	border-left: 3px solid #72b16a;
	margin: 8px 0 8px 30px;
}

#bottom_r figcaption span {
	font-size: 12px;
	color: #72b16a;
	margin-left: 10px;
	letter-spacing: 140%;
	font-style: italic;
}

#menu {
	margin-top: 20px;
	width: 418px;
	height: 278px;
	background-color: #eeeed6;
	padding: 0 20px 20px;
	overflow: hidden;
}

#menu header {
	float: left;
	width: 260px;
	height: 86px;
	padding: 37px 0;
	background-color: #d45d5c;
	color: #FFF;
}

#menu #zero {
	float: left;
	margin: 0 8px;
	width: 70px;
	font-size: 110px;
	font-family: Microsoft YaHei;
	line-height: 86px;
	border-right: 2px solid #FFF;
}

#one {
	line-height: 24px;
	font-size: 21px;
	font-family: SimHei;
	font-style: italic;
	margin: 5px 0;
}

#hello {
	font-size: 12px;
	line-height: 12px;
}

#menu ul {
	width: 419px;
	margin-left: 20px;
	list-style-image: url(images/sanjiao.png);
}

#menu ul li {
	font-size: 16px;
	font-family: SimSun;
	color: #5a5b5b;
	margin: 20px 0;
}

#menu ul li span {
	font-size: 12px;
	font-style: italic;
}

#menu #txt {
	margin-top: 25px;
	width: 140px;
	height: 160px;
	text-indent: 40px;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
	color: #5a5b5b;
	font-family: SimHei;
	float: right;
	position: relative;
}

#yinhao_1,#yinhao_2 {
	font-size: 72px;
	font-style: normal;
	color: #d45d5c;
	position: absolute;
}

#yinhao_1 {
    top: 15px;
    right: 108px;
}

#yinhao_2 {
    bottom: 18px;
    right: -18px;
}

#footer {
	border-top: 1px solid #938e8c;
}

#footer span {
	float: right;
	font-size: 12px;
	font-family: SimHei;
	color: #d45d5c;
}